<div class="artboard">
 <div class="card">

  <div class="card__side card__side--back">
   <div class="card__cover">
    <h4 class="card__heading">
     <span class="card__heading-span"><%= pathway.name %></span>
    </h4>
   </div>
   <div class="card__details">
    <ul mb-3>
     <li>Builds, troubleshoots, and mantains software applications</li>
     <li>Average Salary: Fr. <%= pathway.avg_salary %></li>
     <li class="mb-3">Projected Job Growth: <%= pathway.projected_growth %></li>
     <li><%= link_to "Learn More >", "#", class: "button-sec" %></li>
    </ul>
   </div>
  </div>

  <div class="card__side card__side--front">
   <div class="card__theme">
    <div class="card__theme-box">
     <p class="card__subject">CAREER PATH</p>
     <p class="card__title"><%= pathway.name %></p>
    </div>
   </div>
  </div>

 </div>
</div>
