<div class="container">
  <div class="my-5 py-5">
    <h2 class="mb-5 title-path-border">
    <div class="show-title-bookmark">
      <div class="pathway-name">
        <%= @pathway.name %>
      </div>
      <div class="bookmark-icon">
        <% if user_signed_in? %>
          <%= link_to "#bookmarks" do  %>
            <% if @existing_bookmarks.empty? %>
              <i class="fa-regular fa-bookmark bookmark-icon" ></i>
            <% else %>
              <i class="fa-solid fa-bookmark bookmark-icon"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    </h2>
    <%# <h4>Category: <%= @pathway.category %></h4>
    <h4>Average Yearly Salary:  Fr. <%= @pathway.avg_salary %></h4>
    <h4 class="pt-3">Projected Job Growth: <%= @pathway.projected_growth %></h4>
  </div>

  <div class="showpage-columns">
    <div class="column-one">
      <div>
        <p><%= @pathway.description %></p>
        <p class="pt-3"><%= @pathway.suit_for %></p>
      </div>
    </div>

    <div class="column-two">
      <div>
        <%= image_tag "woman-coding.jpg", class: "img-thumbnail" %>
        <div>
          <h3 class="my-5">Possible Job Roles:</h3>
          <p><%= @pathway.job_roles %></p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3 class="my-5">Main skills required:</h3>
    <% @pathway.skills.each do |skill| %>
      <p class="skills-showpage"><%= skill.name %></p>
    <% end %>
  </div>

  <div>

    <h3 class="my-5">Recommended Courses:</h3>
    <div class="grid mb-5">
      <% @pathway.courses.each do |course| %>
        <div class="result-card pathway_course_bg p-5 text-center">
          <h4 class="mb-5"><%=course.title %></h4>
          <p><%=course.description %></p>
          <div class="d-flex justify-content-between ratingandlink">
            <p><strong>Rating:</strong> <%=course.rating %></p>
            <%= link_to "Go to Course", course.url, class: "real-link", target: :_blank %>
          </div>
        </div>
      <% end %>
    </div>

  <%# add form to create a new @bookmark with column :note %>

    <div class="bookmark-container">
      <h3 class="my-5">Your personal notes:</h3>
      <% if user_signed_in? %>
        <%= simple_form_for [@pathway, @bookmark], html: { data: { turbo: false } } do |f| %>
          <%= f.input :note, label: false %>
          <div class="button-position">
            <%= f.button :submit, 'Save', class: "button-sec" %>
          </div>
        <% end %>
        <div id="bookmarks">
          <% @existing_bookmarks.each do |bookmark| %>
          <div class="bookmark-note">
            <div class="bookmark-note1">
              <%= bookmark.note %>
            </div>
            <div class="edit-delete-icons">
              <div data-controller="reveal" class="w-100" data-reveal-hidden-class="d-none">
                <div class="d-flex align-items-center justify-content-end">
                  <button data-action="click->reveal#toggle" type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                  <%= button_to bookmark_path(bookmark), method: "delete" do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </div>
                <div data-reveal-target="item" class="d-none mt-4">
                  <%= simple_form_for bookmark, html: { data: { turbo: false } } do |f| %>
                    <%= f.input :note, label: false %>
                    <div class="button-position">
                      <%= f.button :submit, 'Save', class: "button-sec" %>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>


  <div>
  <%# add form to create a new @bookmark with column :note %>
  <%= simple_form_for [@pathway, @bookmark] do |f| %>
    <%= f.input :note %>
    <div class="button-position">
       <%= f.button :submit, 'Save', class: "button-sec" %>
    </div>
  <% end %>
  </div>


</div>
