<div class="container banana">
  <div class="my-5 py-5">
    <h1><%= @pathway.name %></h1>
    <h4>Category: <%= @pathway.category %></h4>
    <h4>Average Yearly Salary:  Fr. <%= @pathway.avg_salary %></h4>
    <h4>Projected Job Growth: <%= @pathway.projected_growth %></h4>
  </div>
  <div>
  <img src="images/woman-coding.jpg" alt="woman-coding" class="img-thumbnail">
    <div>
      <p><%= @pathway.description %></p>
      <p><%= @pathway.suit_for %></p>
    </div>
  </div>
  <div>
    <h2 class="my-5">Job Roles:</h2>
    <p><%= @pathway.job_roles %></p>
  </div>
  <div>
    <h2 class="my-5">Recommended Courses:</h2>
    <div class="grid">
      <% @pathway.courses.each do |course| %>
        <div class="result-card background-course p-5">
          <h3 class="mb-5"><%=course.title %></h3>
          <p class="text-center"><%=course.description %></p>
          <div class="d-flex justify-content-end">
            <p>Rating: <%=course.rating %></p>
            <%= link_to "Go to Course", course.url, class: "real-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
