<div class="container">
  <div class="my-5 py-5">
    <h2 class="mb-5 title-path-border"><%= @pathway.name %></h2>
    <%# <h4>Category: <%= @pathway.category %></h4>
    <h4>Average Yearly Salary:  Fr. <%= @pathway.avg_salary %></h4>
    <h4 class="pt-3">Projected Job Growth: <%= @pathway.projected_growth %></h4>
  </div>

  <div class="showpage-columns">
    <div class="column-one">
      <div>
        <p><%= @pathway.description %></p>
        <p class="pt-3"><%= @pathway.suit_for %></p>
      </div>
    </div>

    <div class="column-two">
      <div>
        <%= image_tag "woman-coding.jpg", class: "img-thumbnail" %>
        <div>
          <h3 class="my-5">Possible Job Roles:</h3>
          <p><%= @pathway.job_roles %></p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3 class="my-5">Main skills required:</h3>
    <% @pathway.skills.each do |skill| %>
      <p class="skills-showpage"><%= skill.name %></p>
    <% end %>
  </div>

  <div>
    <h3 class="my-5">Recommended Courses:</h3>
    <div class="grid mb-5">
      <% @pathway.courses.each do |course| %>
        <div class="result-card pathway_course_bg p-5 text-center">
          <h4 class="mb-5"><%=course.title %></h4>
          <p><%=course.description %></p>
          <div class="d-flex justify-content-between ratingandlink">
            <p><strong>Rating:</strong> <%=course.rating %></p>
            <%= link_to "Go to Course", course.url, class: "real-link", target: :_blank %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div>
  <%# add form to create a new @bookmark with column :note %>
  <%= simple_form_for [@pathway, @bookmark] do |f| %>
    <%= f.input :note %>
    <div class="button-position">
       <%= f.button :submit, 'Save', class: "button-sec" %>
    </div>
  <% end %>
  </div>


</div>
