 <div class="content-overview">
            <div class="overview-first-line">
              <div class="progress-chart">
                <h3>Progress</h3>
                <%= pie_chart @progress_chart, donut: true, colors: ["#716F35", "#DB9A8F", "#ECCC6E"], legend: false, class: "donut-chart", height: "250px", width: "250px" %>
              </div>

              <div class="two-results">
                <div class="two-results-heading">
                  <h2>Your Top Matches</h2>
                </div>

                <div class="two-result-cards">

                  <div class="result-card">
                    <h3>DATA SCIENTIST</h3>
                    <br>
                    <h1>87%</h1>
                    <div class="button-sec">
                      <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'Data Scientist')) %>
                    </div>
                  </div>
                  <div class="result-card">
                    <h3>BACK-END DEVELOPER</h3>
                    <br>
                    <h1>76%</h1>
                    <div class="button-sec">
                      <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'BackEnd Developer')) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="overview-second-line" id="test">
              <div class="overview-skills">
                <h3>Your Skills</h3>
                  <% @user_skills.first(5).each do |skill| %>
                    <%= skill.name %>
                  <% end %>
              </div>

              <div class="values-chart">
                <h3 class="mb-3">Your Top 5 Work Values</h3>
                <% @user_values.where("importance >= 4").each do |uv| %>
                  <p class="value-stack"><%= uv.value.name %></p>
                <% end %>
                <%#= bar_chart @user_values, download: "bar-chart", colors: ["#6E184F", "#716F35", "#DB9A8F", "#ECCC6E", "#A66940", "#F2E9E1", "#FCE8D2", "#E9E9E9", "#0E1251"] %>
              </div>
            </div>
          </div>
