<div class="content-overview">
  <div class="overview-first-line">
    <div class="progress-chart">
      <h3>Progress</h3>
      <%= render "dashboards/progress" %>

      <div class="my-5 mb-2 progress-text">
        <i class="fa-solid fa-circle-info"></i>
        <p>Complete the Quiz, Skills and Values Assessment to advance your progression</p>
      </div>
    </div>

    <div class="quiz-results-chart">
      <h3 class="mb-5">Your Top Pathway Matches</h3>
      <% if @recommended_pathways.empty? %>
        <div class="no-quiz">
          <p>No recommendations yet.</p>
          <%= link_to "You can take the initial quiz here.", assessment_path %>
        </div>
      <% else %>
        <div class="pw-bar-chart">
          <% opa = 1.0 %>
          <% @recommended_pathways.each do |recommended_pathway| %>
            <%= link_to pathway_path(recommended_pathway) do %>
              <div class="pw-bar" style="width: <%= recommended_pathway.match_score %>%; opacity: <%= opa %>">
                <p class="pw-name"><%= recommended_pathway.pathway.name %></p>
                <p class="pw-score"><%= recommended_pathway.match_score %> %</p>
              </div>
              <% opa -= 0.1 %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="overview-second-line" id="test">
    <div class="overview-skills">
      <h3>Your Skills</h3>
        <% if @user_skills.empty? %>
          <p>No skills added yet.</p>
          <%= link_to "You can add your skills here.", new_user_skill_path %>
        <% else %>
          <div class="skills-capsules">
            <% @user_skills.first(15).each do |skill| %>
              <p class="skill-stack"><%= skill.name %></p>
            <% end %>
          </div>
        <% end %>
    </div>


    <div class="values-chart">
      <h3>Your Top 5 Work Values</h3>
      <% if @user_values.where("importance > 0").empty? %>
        <p>No values added yet.</p>
        <%= link_to "You can add your values here.", dashboard_path(tab: "Values") %>
      <% else %>
        <% @user_values.where("importance > 0").order(importance: :desc).first(5).each do |uv| %>
          <p class="value-stack"><%= uv.value.name %></p>
        <% end %>
      <% end %>
      <%#= bar_chart @user_values, download: "bar-chart", colors: ["#6E184F", "#716F35", "#DB9A8F", "#ECCC6E", "#A66940", "#F2E9E1", "#FCE8D2", "#E9E9E9", "#0E1251"] %>
    </div>
  </div>
</div>
