<div class="skills-intro container">
  <h3 class="h3-skills">Assess your current skills to improve our career recommendations</h3>
  <p>
  1. Add skills by clicking on the Add More button and selecting  skills you currently have. <br>
  2. Use the slider to assess your mastery level (0-3). <br>
  3. Click on the Book icon if you are specially interested in learning more about that specific skill. <br>
  4. Finally, click on submit to save your answers. <br> <br>
  Note: As you progress in your tech career, you can always come back here and add more skills or edit your answers. To delete a skill just unmark it.
  </p>
</div>

<div class="skills-tab-content">
  <div class="skills-table" data-controller="skills-slider">
    <div class="headers-skills">
      <p>Skill</p>
      <p>Mastery level</p>
      <p>Learning interest</p>
    </div>

    <%= simple_form_for @user_skill, url: update_level_path, method: :patch do |f| %>
      <% @user_skills.each do |skill| %>
        <% user_skill = current_user.user_skills.find_by(skill: skill) %>
        <div class="one-skill-row">
            <p><%= skill.name %></p>
            <div class="col-3 slider-simple">
              <input type="range" class="form-range" value="<%= user_skill.mastery_level ? user_skill.mastery_level : 0 %>" min="0" max="3" step="1" data-id="<%= skill.id %>" data-action="change->skills-slider#sliderValue" name="user_skill[mastery_level][<%= skill.id %>]">
            </div>
            <span id="value-<%= skill.id %>" class="selected_value"><%= user_skill.mastery_level ? user_skill.mastery_level : 0 %></span>

            <input
              class="book-checkbox <%= "active" if user_skill.learning_interest %>"
              type="checkbox"
              id="interest-<%= skill.id %>"
              name="user_skill[learning_interest][<%= skill.id %>]"
              <%= "checked" if user_skill.learning_interest %>
              value="Book">
            <label for="interest-<%= skill.id %>"> <i class="fa-solid fa-book-open"></i> </label>

          </div>
        <% end %>
      <div class="button-sec button-save-center">
        <%= f.submit 'Save', class: "save-btn-skills" %>
      </div>
    <% end %>
  </div>

  <div class="button-add-skills">
    <div class="button-pri">
      <%= link_to "Add more...", new_user_skill_path %>
    </div>
  </div>
</div>
