<div class="dashboard-page">
  <div class="profile-sidebar">
    <div class="profile-picture">
      <%#= cl_image_tag @dashboard.user.PROFILE_PICTURE.key %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzC9m6tOz_pttY17RpEp_f5DDgDn7Gj8W5mw&usqp=CAU", class: "image-profile" %>
    </div>

    <div class="name-title">
       <%#= @SOMETHING.user.first_name %>
       <%#= @SOMETHING.user.last_name %>
      <h3>Hermione Granger</h3>
      <p>Ass kicking witch</p>
    </div>

    <div class="just-line">
    </div>

    <div class="recommended-courses">
      <h4>Recommended Courses</h4>
      <p>course 1</p>
      <p>course 2</p>
      <p>course 3</p>
    </div>

    <div class="button-pri button-pri-profile">
      <%= link_to "More...", root_path %>
    </div>

     <div class="just-line">
    </div>

    <div class="class button-sec button-sec-profile">
      <%= link_to "See all pathways", root_path %>
    </div>

  </div>

  <%#=*************** DASHBOARD**********************  %>

  <div class="dashboard-content">
    <div class="dashboard-header mt-5">
      <div class="dashboard-heading">
        <h1>Your dashboard</h1>
      </div>
      <div class="dashboard-header-button">
        <%= link_to "Take the quiz", root_path, class: "button-pri button-pri-dashboard" %>
    </div>

    </div>

    <div class="tabs-content">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</button>
          <button class="nav-link" id="nav-results-tab" data-bs-toggle="tab" data-bs-target="#nav-results" type="button" role="tab" aria-controls="nav-results" aria-selected="false">Results</button>
          <button class="nav-link" id="nav-skills-tab" data-bs-toggle="tab" data-bs-target="#nav-skills" type="button" role="tab" aria-controls="nav-skills" aria-selected="false">Skills</button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active content-overview" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">

          <div class="overview-first-line">
            <div class="progress-chart">
            <h3></
              <%= pie_chart @progress_chart, donut: true, class: "progress-chart-img" %>
            </div>
            <div class="first-result-card">
            </div>
            <div class="second-result-card">
            </div>
          </div>

          <div class="overview-second-line">
            <div class="overview-skills">
            </div>
            <div class="values-chart">
              <%= pie_chart @result_chart, download: "progress-chart-pie-chart" %>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">
          <p>this is a content for res</p>
        </div>

        <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
          <p>this is a content for sk</p>
        </div>
      </div>
    </div>
  </div>
</div>
