<div class="dashboard-page">
  <%#=*************** DASHBOARD**********************  %>

  <div class="dashboard-content">
    <div class="dashboard-header my-5">
      <div class="dashboard-heading">
        <h2>Your dashboard</h2>
      </div>
      <div class="button-pri">
      <div class="button-pri">

        <%= link_to "Take the quiz", assessment_path %>
      </div>
    </div>

    </div>

    <div class="tabs-content">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</button>
          <button class="nav-link" id="nav-results-tab" data-bs-toggle="tab" data-bs-target="#nav-results" type="button" role="tab" aria-controls="nav-results" aria-selected="false">Results</button>
          <button class="nav-link" id="nav-skills-tab" data-bs-toggle="tab" data-bs-target="#nav-skills" type="button" role="tab" aria-controls="nav-skills" aria-selected="false">Skills</button>
          <button class="nav-link" id="nav-values-tab" data-bs-toggle="tab" data-bs-target="#nav-values" type="button" role="tab" aria-controls="nav-values" aria-selected="false">Values</button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
<div class="content-overview">
          <div class="overview-first-line">
            <div class="progress-chart">
            <h3>Progress</h3>
              <%= pie_chart @progress_chart, donut: true, colors: ["#716F35", "#DB9A8F", "#ECCC6E"], legend: false, class: "donut-chart", height: "250px", width: "250px" %>

            </div>

            <div class="two-results">
              <div class="two-results-heading">
                <h2>Your top matches</h2>
              </div>

              <div class="two-result-cards">

                <div class="result-card">
                  <h3>DATA SCIENTIST</h3>
                  <br>
                  <h1>87%</h1>
                  <div class="button-sec">
                   <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'Data Scientist')) %>
                  </div>
                </div>
                <div class="result-card">
                  <h3>BACK-END DEVELOPER</h3>
                  <br>
                  <h1>76%</h1>
                  <div class="button-sec">
                   <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'BackEnd Developer')) %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="overview-second-line">
            <div class="overview-skills">
            <h3>Your skills</h3>
            </div>
            <div class="values-chart">
              <%= pie_chart @result_chart, download: "progress-chart-pie-chart", colors: ["#6E184F", "#716F35", "#DB9A8F", "#ECCC6E", "#A66940", "#F2E9E1", "#FCE8D2", "#E9E9E9", "#0E1251"] %>
            </div>
          </div>
        </div>
        </div>

        <div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">
        <%= image_tag "screenshot-results.jpg", alt: "text", width: "80%" %>
        </div>

        <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
        <%#= image_tag "screenshot-skills.jpg", alt: "text" %>
          <div class="slidecontainer">
            <input type="range" min="0" max="5" value="0" class="slider" id="skillRrange">
          </div>
          <%#= simple_form_for @skills do |f| %>
            <%#= f.input :SKILLNAME, as: :boolean, input_html: { class: "toggle" } %>
          <%# end %>

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
          </div>


        </div>

        <div class="tab-pane fade" id="nav-values" role="tabpanel" aria-labelledby="nav-values-tab">
          <%= render "dashboards/valuestab" %>
        </div>
      </div>
    </div>
  </div>
</div>
