<div class="dashboard-page">
  <%#=*************** DASHBOARD**********************  %>

  <div class="dashboard-content">
    <div class="dashboard-header my-5">
      <div class="dashboard-heading">
        <h2>Dashboard</h2>
      </div>
    </div>

    <div class="tabs-content">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link <%= "active" if params[:tab].nil? %>" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</button>
          <button class="nav-link" id="nav-results-tab" data-bs-toggle="tab" data-bs-target="#nav-results" type="button" role="tab" aria-controls="nav-results" aria-selected="false">Results</button>
          <button class="nav-link <%= "active" if params[:tab] == 'Skills' %>" id="nav-skills-tab" data-bs-toggle="tab" data-bs-target="#nav-skills" type="button" role="tab" aria-controls="nav-skills" aria-selected="false">Skills</button>
          <button class="nav-link" id="nav-values-tab" data-bs-toggle="tab" data-bs-target="#nav-values" type="button" role="tab" aria-controls="nav-values" aria-selected="false">Values</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade  <%= "show active" if params[:tab].nil? %>" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
          <div class="content-overview">
            <div class="overview-first-line">
              <div class="progress-chart">
                <h3>Progress</h3>
                <%= pie_chart @progress_chart, donut: true, colors: ["#716F35", "#DB9A8F", "#ECCC6E"], legend: false, class: "donut-chart", height: "250px", width: "250px" %>
              </div>

              <div class="two-results">
                <div class="two-results-heading">
                  <h2>Your Top Matches</h2>
                </div>

                <div class="two-result-cards">

                  <div class="result-card">
                    <h3>DATA SCIENTIST</h3>
                    <br>
                    <h1>87%</h1>
                    <div class="button-sec">
                      <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'Data Scientist')) %>
                    </div>
                  </div>
                  <div class="result-card">
                    <h3>BACK-END DEVELOPER</h3>
                    <br>
                    <h1>76%</h1>
                    <div class="button-sec">
                      <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'BackEnd Developer')) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="overview-second-line" id="test">
              <div class="overview-skills">
                <h3>Your Skills</h3>

              </div>
              <div class="values-chart">
                <h3 class="mb-3">Your Top 5 Work Values</h3>
                <% @user_values.where("importance >= 4").each do |uv| %>
                  <p class="value-stack"><%= uv.value.name %></p>
                <% end %>
                <%#= bar_chart @user_values, download: "bar-chart", colors: ["#6E184F", "#716F35", "#DB9A8F", "#ECCC6E", "#A66940", "#F2E9E1", "#FCE8D2", "#E9E9E9", "#0E1251"] %>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">
          <%= render "dashboards/resultstab" %>
          <%#= image_tag "screenshot-results.jpg", alt: "text", width: "80%" %>
        </div>

        <div class="tab-pane fade <%= "show active" if params[:tab] == 'Skills' %>" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
          <%= render "dashboards/skillstab" %>
        </div>

        <div class="tab-pane fade" id="nav-values" role="tabpanel" aria-labelledby="nav-values-tab">
          <%= render "dashboards/valuestab" %>
        </div>
        
      </div>
    </div>
  </div>
</div>
