<!DOCTYPE html>
<html>
  <head>
    <title>DigitalCompass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>

      <div class="push"></div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
